/ValidarIBAN/nbproject/private/
/Udemy/Conversion/nbproject/private/
/Udemy/Conversion/build/
/Udemy/Ejercicio01/nbproject/private/
/Udemy/Ejercicio01/build/
/Udemy/OperadoresAritmeticos/nbproject/private/
/Udemy/OperadoresAritmeticos/build/
/Udemy/Rectangulo/nbproject/private/
/Udemy/Rectangulo/build/
/Udemy/OperadoresAsignacion/nbproject/private/
/Udemy/Arreglos01/nbproject/private/
/Udemy/Arreglos01/build/
/Udemy/ArreglosPersonas/nbproject/private/
/Udemy/ArreglosPersonas/build/
